@layer components {
  .notes {
    --avatar-size: 2.33em;
    --note-padding-block: var(--block-space-half);
    --note-padding-inline: var(--inline-space-double);
    --note-max: 70ch;
    --note-action-size: 2.25rem;

    display: flex;
    flex-direction: column;
    padding-inline: var(--inline-space);
    place-items: center;
    text-align: center;

    @media (min-width: 640px) {
      --note-action-size: 1.6875rem;
    }
  }

  .note {
    /* Distinguish from the .note class used for code formatting without extra specificity */
    &:where(.notes &) {
      display: flex;
      margin-inline: auto;
      max-inline-size: var(--note-max);
      position: relative;
    }
  }

  .note__author {
    .btn {
      font-weight: inherit;
    }

    @media (max-width: 639px) {
      margin-block-end: calc(var(--block-space-half) / 2);

      h3 {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        column-gap: 0.4em;
      }
    }
  }

  .note__avatar {
    margin: calc(var(--note-padding-block) * 0.75) calc(var(--note-padding-inline) * -0.75);
    z-index: 0;
  }

  .note__body {
    text-align: start;

    .action-text-content {
      > action-text-attachment:first-child figure {
        margin-block-start: 0.5ch;
      }

      > :last-child {
        margin-block-end: 0;
      }
    }
  }

  .note__content {
    --btn-icon-size: 1.2rem;
    --btn-size: var(--note-action-size);
    --note-bg-color: var(--color-ink-lightest);
    --lexxy-bg-color: var(--note-bg-color);

    background-color: var(--note-bg-color);
    border-radius: 0.2em;
    max-inline-size: calc(100% - calc(var(--note-padding-inline) * 0.75));
    padding:
      var(--note-padding-block)
      calc(var(--note-padding-inline) / 2)
      calc(var(--note-padding-block) * 1.5)
      var(--note-padding-inline);
    word-wrap: break-word;
  }

  .note__edit {
    background-color: var(--color-ink-lightest);

    &:hover {
      z-index: 1;
    }
  }

  .note__permalink-title {
    color: currentColor;
    opacity: 0.66;
    text-decoration: none;
    text-transform: capitalize;

    @media (max-width: 639px) {
      font-size: var(--text-small);
    }
  }
}
