@layer components {
  .welcome-letter {
    position: relative;
    view-transition-name: welcome-letter;
    z-index: var(--z-welcome);

    h2, p {
      text-wrap: pretty;
    }
  }

  .welcome-letter__close {
    inset: var(--block-space) var(--block-space) auto auto;
    position: absolute;
  }
}
